.bookCover{
    &__container{
        display: flex;
        width:30%;
        // border: 2px black solid;
        height: 200px;
        margin-bottom: 2rem;
        margin-right: 2rem;
        height: 12.5rem;
        width:21.26rem;
        cursor: pointer;

        // &--selected{
                
        // }
    }
    &__image{
        height: 12.3rem;
        width:21.01rem;
    }

}

.bookCoverSelected{
    opacity: 0.6; /* Reduce opacity to visually grey out the selected image */
    border: 1px solid #ccc;
}
