@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.title{
    &__birthday{
        display: flex;
        font-size: 2rem;
        @include tablet{
            font-size: 1.5rem;
        }
        @include desktop{
            font-size: 1.5rem;
        }
    }

}

