@use "./variables" as *;
@use "./mixins" as *;
@use "./fonts" as *;

* {
	box-sizing: border-box;
}

html {
	font-size: 1vw;
	// font-family: normal;
	// max-width: 100%;
	// overflow-x: hidden;
	// color: $brainflixBlack;
  }

body {
	font-family: "Titillium Web";
	color: $primary-text-black;
	margin: 0;
	padding: 0;
}

.mainApp {
	&__container {
		box-shadow: 0px 2px 5px 0px #13182c1a;
		width: 90%;
		margin: auto;
		align-items: center;
		flex-direction: column;
		background-color: $primary-white;
		// transform: translateY(-97px);
		// position: relative; /* or position: absolute; */
		// z-index: 100;
		@include tablet{
			width: 90%;
		}
		@include desktop {
			width: 80%;
		}
	}
}