//PRIMARY COLORS
$primary-text-black: #13182c;
$primary-interactive-indigo: #2E66E5;
$primary-white: #ffffff;

//SECONDARY COLORS
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;

//BACKGROUND COLORS
$background-graphite: #232940;
$background-light-grey: #f7f8f9;

//SUPPORT COLORS
$support-green: #158463;
$support-red: #c94515;

//BreakPoints
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

//Margins
$mobile-margins: 1rem;
$tablet-margins: 2rem;
$desktop-margins: 3.9375rem;
