@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.profile{
    &__container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__image{
        height:8rem;
        width:8rem; 
        margin-right: 1rem;
        border-radius: .4rem;
    }
    &__bookListContainer{
        display: flex;
        flex-direction: column;
    }
    &__bookList:not(:first-of-type){
        padding-top:2rem;
    }
    &__bookList{
        display: flex;

    }
    &__book{
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
    }
    &__milestones{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}



a .profile__bookList{
    text-decoration: none; /* Remove the underline */
  //  color: inherit;
}