@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.profile{
    &__container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__header{
        display: flex;
        font-size: 5rem;
        justify-content: center;
        @include tablet{
            font-size: 2rem;
        }
        @include desktop{
            font-size: 2rem;
        }
    }
    &__image{
        height:15rem;
        width:15rem; 
        margin-right: 1rem;
        border-radius: .4rem;
        @include tablet{
            height:8rem;
            width:8rem; 
            margin-right: 1rem;
        }
        @include desktop{
            height:8rem;
            width:8rem; 
            margin-right: 1rem;
        }
    }
    &__bookListContainer{
        display: flex;
        flex-direction: column;
        width:90%;
        margin-bottom: 2.5rem;
        @include tablet{
            margin-bottom: 1.5rem;

        }
        @include desktop{
            margin-bottom: 1.5rem;
        }
    }
    &__bookList:not(:first-of-type){
        padding-top:2rem;
    }
    &__bookList{
        display: flex;

    }
    &__book{
        display: flex;
        align-items: center;
        font-size: 3.5rem;
        font-weight: 600;
        @include tablet{
          font-size: 1.5rem;
        }
        @include desktop{
            font-size: 1.5rem;
        }
    }
    &__milestones{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}


#profile__createBookButton{
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    @include tablet{
     font-size: 2rem;
     margin-bottom: 1rem;
     margin-top: .18rem;
    }
    @include desktop{
        font-size: 1.8rem;
        margin-bottom: 1rem;
        margin-top: .1rem;
    }
}



a .profile__bookList{
    text-decoration: none; /* Remove the underline */
  //  color: inherit;
}