@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;

.profile{
    &__container{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__image{
        height:50px;
        width:50px;
    }
}