.howItWorks{
    &__container{
        display: block;
    }
    &__cardContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-left: 3rem;
        padding-right: 4rem;
    }
    &__header{
        display:flex;
        justify-content: center;
        font-size: 3.5rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
        font-weight: 600;
    }
  
}