@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/global" as *;


.bookDetails{
    &__container{
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }
    &__LRContainer{
        display: flex;
        flex-direction: row;
    }
    &__leftContainer{

    }
    &__rightContainer{
        display: flex;
        font-size: 2rem;
        margin-left: 4rem;

    }
    &__inputContainer{
        display: flex;
    }
    &__inputBookNameContainer{
        display: flex;
        flex-direction: column;
        margin-bottom: 1.5rem;
    }
    &__inputBookDetailsContainer{
        display: flex;
        flex-direction: column;
      

    }
    &__bookCoverImage{
        width: 30rem;
        height: 30rem;
        border-radius: 1.5rem;
        position: relative;
    }
    &__bookCoverBar{
        display: flex;
        width:18rem;
        height: 7rem;
        background-color: white;
        border: 1px black solid;
        border-radius: .4rem;
        position: absolute;
        z-index: 9;
        top:39rem;
        left:23.4rem;
        @include tablet{
            top:36rem;
            left:23.4rem;
            width:20rem;
        }
        @include desktop{
            top:33rem;
            left:23.4rem;
            width:20rem;
        }
    }
    &__bookCoverText{
        display: flex;
        position: absolute;
        font-size: 2rem;
        color:black;
        z-index: 10;
        top:39rem;
        left:25rem;
        @include tablet{
            top:36rem;
            left:24rem;
        }
        @include desktop{
            top:33rem;
            left:24rem;
        }
        &--desc{
            position: absolute;
            z-index: 10;
            font-size: 1.5rem;
            top:43rem;
            left:25rem;
            @include tablet{
                top:39rem;
                left:24rem;
            }
            @include desktop{
                top:37rem;
                left:24rem;
            }
        }
    }
    &__header{
        display: flex;
        font-size: 3rem;
        margin-bottom: 3rem;
    }
    &__input{
        margin-top: 1.5rem;
        width:20rem;
        @include tablet{
            margin-top: 2rem;
        }
        @include desktop{
            margin-top: 2rem;
        }
    }
    &__inputLabel{
        &--bookName{
            margin-right: 5.5rem;
        }
        &--Desc{
            margin-right: 1rem;
        }
    }
    &__submitButton{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
    }
}

